.logo{
    width: 180px;
    height: 80px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
body{
    background-color: wheat;
    margin: 0px;
}
.divlefthead{
    float: left;
}
.divrighthead{
    padding-top: 1px;
}
.navs{
    float: left;
    margin-left: 15px;
}
.navbar{
    background: orange;
    display: block;
    height: 100px;
}
ul{
    margin: 5px;
    list-style-type: none;
}
a{
    color: inherit;
    text-decoration: none;
}
li {
    float: left;
    font-size:20px;
    font-family: "Cambria Math"
}
li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
li a:hover {
    background-color: navajowhite;
    color: black;
}
.ims{
    height: 60px;
    width: 60px;
}
.imgif{
    height: 350px;
}
.div2{
    background-color: white;
}
.div3{
    background-color: orange;
}
.giflogin{
    float: left;
}
.innerd1{
    display: flex;
    font-size: 20px;
    padding-top: 10px;
}
.ins{
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: left;
    font-family: "Times New Roman";
}
.div4{
    text-align: center;
}
.logina{
    font-size: 30px;
    color: darkred;
    font-family: "Cambria Math";
}
.linklogin{
    padding-top: 115px;
    padding-bottom: 115px;
}